body{
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
}

.custom-padding-top-10{
  padding-top: 10px;
}

.my-header-left-margin{
  margin-left: 3px;
}

.my-header-right-margin{
  margin-right: 3px;
}

.navbar-inverse{
  background-color: #000000;
  opacity: 0.8;
}

.navbar-default .navbar-brand{
  color: white !important;
}

.navbar-inverse .navbar-brand{
  color: white !important;
}

.navbar a{
  color: #acacac;
}

.navbar a:hover{
  color:white;
  text-decoration: none;
}

a.no-underline-hover{
  text-decoration: none;
}

li.my-no-border{
  border-style: none;
}

.glyphicon{
  margin-right:5px;
}

.my-right-border{
  border-right-style: solid;
  border-bottom-color: #acacac;
  border-right-width: 1.5px;
}

.my-left-pane {
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 3px;
  overflow: auto;
}

.my-right-pane {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: auto;
}

.input-margin-top{
  margin-top: 5px;
}

.my-widget-settings-bar{
  position: absolute;
  right: 0px;
  padding: 5px;
  background-color: white;
  border-bottom-left-radius: 5px;
  opacity: 0.6;
  margin-right: 5px;
  z-index: 1;
}

img{
  margin-bottom: 10px;
}

iframe{
  margin-bottom: 10px;
}

.youtube-widget {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 10px;
}

.youtube-widget iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
Social Network Login
*/
@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.form-signin{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


.login-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login-input-pass {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.signup-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.signup-input-confirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.create-account {
  text-align: center;
  width: 100%;
  display: block;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-center{
  width: 50%;
  text-align: center;
  margin: inherit;
}

.social-login-btn {
  margin: 5px;
  width: 20%;
  font-size: 250%;
  padding: 0;
}

.social-login-more {
  width: 45%;
}

.social-google {
  background-color: #da573b;
  border-color: #be5238;
}
.social-google:hover{
  background-color: #be5238;
  border-color: #9b4631;
}

.social-twitter {
  background-color: #1daee3;
  border-color: #3997ba;
}
.social-twitter:hover {
  background-color: #3997ba;
  border-color: #347b95;
}

.social-facebook {
  background-color: #4c699e;
  border-color: #47618d;
}
.social-facebook:hover {
  background-color: #47618d;
  border-color: #3c5173;
}

.social-linkedin {
  background-color: #4875B4;
  border-color: #466b99;
}
.social-linkedin:hover {
  background-color: #466b99;
  border-color: #3b5a7c;
}
